.colorbox {
  background-color: white;
  outline: none;
  z-index: 999;

  &_slideshow {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    img {
      height: auto;
      max-height: 100%;
      width: 100%;
    }
  }

  .slick_list {
    height: 100%;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev,
  .slick-next {
    background-color: rgb( 255, 255, 255 );
    height: 100%;
    margin-top: 0;
    opacity: 0;
    top: 0;
    transition: opacity .5s;
    width: 50%;

    &:hover,
    &:focus {
      opacity: .4;
    }

    &:active {
      opacity: .6;
    }
  }
}

/* Basic Styles */
#cboxOverlay {
    background: rgb( 255, 255, 255 ) none repeat scroll 0% 0%;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 888;
}
