.footer {
  border-top: 1px solid #F2F2F2;
  font-size: 1rem;
  margin-top: 3rem;
  padding-bottom: 2rem;
  padding-top: 1rem;

  &_team {
    list-style: none;
    padding-left: 0;
  }

  &_headline {
    font-family: @headline-font;
    font-size: 1.6rem;
    font-weight: normal;
  }
}
