.isl {

  p {
    margin: 0;
  }

  &_text {
    position: relative;
  }

  &_sky {
    background-image: data-uri( '../resources/icon/sky.svg' );
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 3.5rem;
    padding-top: 2rem;

    &-text {
      padding-left: 4rem;
    }

    .richtext_subheadline {
      margin-top: 0;
    }
  }

  &_earth {
    background-image: data-uri( '../resources/icon/earth.svg' );
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;

    &-text {
      padding-right: 4rem;
    }
  }

  &_well,
  &_tower {
    position: absolute;

    img {
      width: 100%;
    }
  }

  &_well {
    bottom: -3.5rem;
    height: 10rem;
    left: -6rem;
    width: 8rem;
  }

  &_tower {
    height: 30rem;
    right: -16rem;
    bottom: -16.1rem;
    width: 16rem;
  }
}

@media screen and ( max-width: 1300px ) {
  .isl {
    &_well {
      left: -9rem;
    }

    &_tower {
      right: -12rem;
    }

    &_text > p {
      max-width: 38rem;
      padding-left: 0;
    }
  }
}

@media screen and ( max-width: 1050px ) {
  .isl {
    &_well {
      left: -5rem;
    }

    &_tower {
      right: -4rem;
    }

    &_text > p {
      max-width: 30rem;
    }
  }
}

@media screen and ( max-width: 850px ) {
  .isl {
    &_sky,
    &_earth {
      background: transparent;
      padding: 0;
    }

    &_text {
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      > p {
        max-width: 100%;
      }
    }

    &_well,
    &_tower {
      display: none;
    }

    &_earth {
      margin-bottom: -1.5rem;
      margin-top: 1.5rem;
    }
  }
}
