.section {
  &--limited {
    margin: 0 auto;
  }

  &--with-margin {
    margin-top: 2rem;

    > p:first-child {
      margin-top: 0;
    }

    > p:first-child::first-letter {
      display: inline;
      float: left;
      font-size: 3.8em;
      line-height: 1;
      padding: .5rem .8rem 0 0;
    }
  }
}

@media screen and ( max-width: 450px ) {
  .section {
    &--first {
      margin-top: 0;
    }
  }
}
