.sidebar {
  margin: 3.5rem -10rem 3.5rem 1.5rem;
  width: 25rem;

  &_caption {
    font-size: .9rem;
    margin-top: .5rem;
  }

  &_figure {
    position: relative;
    width: 100%;
  }

  &_figure + &_figure {
    margin-top: 2rem;
  }
}

@media screen and ( max-width: 1200px ) {
  .sidebar {
    margin-right: -5rem;
    max-width: 21rem;
  }
}

/* iPad */
@media only screen and ( min-device-width: 768px ) and ( max-device-width: 1024px ) and ( orientation: landscape ) {
  .sidebar {
    margin-right: -9rem;
  }
}

@media screen and ( max-width: 950px ) {
  .sidebar {
    margin-right: -2rem;
    max-width: 17rem;
  }
}

@media screen and ( max-width: 850px ) {
  .sidebar {
    display: flex;
    float: none;
    margin: 1.5rem 0;
    max-width: 100%;
    width: 100%;

    &_figure {
      display: inline-block;
      vertical-align: top;
    }

    &_figure + &_figure {
      margin-left: .5rem;
      margin-top: 0;
    }
  }
}

@media screen and ( max-width: 850px ) {
  .sidebar {
    display: block;

    &_figure + &_figure {
      margin-left: 0;
    }
  }
}
