.tooltip {
  @arrow-width: 12px;
  @arrow-offset: 20px;

  background: transparent;
  border: none;
  display: inline-block;
  line-height: 1.4;
  padding: 0;
  text-decoration: underline;
  transition: opacity .2s;

  &_outer {
    background: @tooltip-background-color;
    border-radius: 3px;
    width: 32rem;
    outline: none;
    position: absolute;
    z-index: 100;

    &:before {
      border-top: @arrow-width solid @tooltip-background-color;
      border-right: @arrow-width solid transparent;
      border-left: @arrow-width solid transparent;
      bottom: -@arrow-width;
      content: ' ';
      position: absolute;
      z-index: 90;
    }

    &--right {
      &:before {
        left: @arrow-offset;
        right: auto;
      }
    }

    &--left {
      &:before {
        left: auto;
        right: @arrow-offset;
      }
    }
  }

  &_inner {
    color: @tooltip-color-base;
    line-height: 1.4;
    padding: .8rem;

    iframe,
    img {
      border: none;
      height: auto;
      margin-bottom: .5rem;
      width: 100%;
    }

    iframe {
      min-height: 18rem;
    }
  }
}
